:root{
    --fundo: #202239;
    --branco: #f2f2f2;
}



*{
    margin: 0; padding: 0;
    background-color: var(--fundo); color: var(--branco);
}
header{

    background-color: grey;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

header img{
    height: 100%;
    background-color: grey;
}

header ul{
    background-color: #171010;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header ul li{
    display: flex;
    margin: 20px;
    width: 150px;
    height: 30px;
    background-image: linear-gradient();
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: #423F3E;
}

.baner{
    background-color: #202239;
    height: 500px;
    animation: slide1 15s infinite;
}

@keyframes slide1{
    0%,30%{
        background-image: url(../tato1.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 400px;
    }
    35%,65%{
        background-image: url(../tato2.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 400px;
    }
    70%,100%{
        background-image: url(../tato3.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 300px;
    }
}
    
